<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Jan Strahlmann</h1>
        <h3>Front End Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <div class="d-flex gap-2 justify-content-center" style="width: 100%;">
            <a title="Klicken um das Profil auf Github zu Besuchen" href="//www.Github.com" target="_blank" class="">
              <img src="GitHub.png" style="width: 24px; height: 24px;" class="rounded-circle"> 
              
            </a>
          
            <a title="Klicken um das Profil auf LinkedIn zu Besuchen" href="//www.Linkedin.com" target="_blank" class="">
              <img src="LinkedIn.png" style="width: 24px; height: 24px;" class="rounded-circle "> 
              
            </a>
          </div>
    </div>
</div>