<div class="container d-flex justify-content-center mt-4">
    <div class="w-100" style="max-width: 550px;">
        <div class="shadow border rounded-5 p-4">
            <div class="text-center">
                <h2 class="mb-3">Jan Strahlmann</h2>
                <img src="769e3136185893.57128879735aa.gif" alt="profilpicture" width="256" height="256"
                    class="rounded-circle mb-3" style="max-width: 100%;" />
                <p class="mx-auto" style="max-width: 100%;">
                    Hey! Ich bin Jan, 23 Jahre alt und gerade auf dem Weg zum Frontend Developer. Ich arbeite am
                    liebsten mit HTML, CSS, JavaScript und Angular – und hab Spaß daran, Projekte zu entwickeln, die
                    technisch sauber und visuell ansprechend sind. Ich lerne am liebsten durch eigene Projekte und
                    probiere gern neue Technologien aus, die mich fachlich weiterbringen.
                </p>
            </div>
        </div>
    </div>
</div>