accordion-group::ng-deep .btn-link {
    color: white;
}

accordion-group::ng-deep .card-header {
    background-color: #6c757d;
}

@media (max-width: 380px) {
    .changeWidthOnMobile {
        width: 280px !important;
    }
  }

