@media (max-width: 440px) {
  .changeFontSizeOnMobile {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 405px) {
  .changeFontSizeOnMobile {
    font-size: 1rem !important;
  }
}

@media (max-width: 380px) {
  .changeFontSizeOnMobile {
    font-size: 0.95rem !important;
  }
}

@media (max-width: 365px) {
  .changeFontSizeOnMobile {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 345px) {
  .changeFontSizeOnMobile {
    font-size: 0.75rem !important;
  }
}
