<div class="card shadow text-center rounded-5" style="max-width: 400px; min-width: 400px;">
    <div class="card-body">
        <h2 class="card-title">{{project.name}}</h2>
        <p class="card-text">{{project.summary}}</p>
        <button title="Klicken für mehr Details" class="rounded-5 btn btn-secondary shadow border gap-2 py-2"(click)="OpenProjectModal()">Mehr Anzeigen</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">

            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div>
            </div>

        </div>
    </div>
</div>
