.container {
  max-width: 1140px;
}

.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;
}

.modal-content {
  border-radius: 1.25rem !important;
}

p {
    font-size: 1.25rem;
}

li {
    font-size: 1.25rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2);  /* dezenter schwarzer Hintergrund */
  border-radius: 50%;
  width: 44px;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
}

.carousel-control-prev,
.carousel-control-next {
  color: rgb(255, 255, 255);
}
